/*You can add styles to format your tooltip here*/
.center_plot {
    margin: auto;
    text-align: center;
}

.section {
    text-align: center;
}
div * {
    color: black;
    font-style: arial;

}

